.blog-post {
  @include mobile {
    padding: 0 16px;
  }

  .blog-post-header {
    padding-bottom: 32px;

    h1 {
      font-family: $font-headline;
      font-weight: $font-weight--bold;
      text-transform: capitalize;
      font-size: $font-size--extra-large;
      @include themed() {
        color: t($text);
      }
    }
    .year {
      font-family: $font-sans;
      font-weight: $font-weight--bold;
      font-size: $font-size--small;
      margin-top: 16px;

      @include themed() {
        color: t($text-secondary);
      }
    }
  }
  .cover-image {
    overflow: hidden;
    position: relative;
    margin: 32px auto;
    max-height: 100vh;

    @include desktop {
      max-width: 90rem;
      width: 100%;
    }

    @include mobile {
      max-width: 100%;
      width: 100%;
    }

    img {
      width: 100%;
      height: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

    @include mobile {
      margin-bottom: 32px;

      img {
        height: auto;
        width: 100%;
      }
    }
  }
  .post-content {
    h1 {
      font-family: $font-serif;
      font-size: $font-size--extra-large;
      font-weight: $font-weight--thin;
      line-height: 1.1em;
      margin: 1em auto;
      max-width: 50rem;
      @include themed() {
        color: t($text);
      }
    }

    h2 {
      font-family: $font-headline;
      font-size: $font-size--large;
      font-weight: $font-weight--thin;
      line-height: 1.1em;
      margin: 1em auto;
      max-width: 50rem;
      @include themed() {
        color: t($text);
      }
    }

    h3 {
      font-family: $font-headline;
      font-size: $font-size--medium;
      font-weight: $font-weight--thin;
      line-height: 1.1em;
      margin: 1em auto;
      max-width: 50rem;
      @include themed() {
        color: t($text);
      }
    }

    ul {
      list-style-type: disc;
      padding-left: 1em;
      max-width: 50rem;
      margin: 0 auto;

      li {
        font-family: $font-serif;
        font-weight: $font-weight--regular;
        line-height: 1.5em;
        padding: 0.5em 0;

        font-family: $font-serif;
        font-weight: $font-weight--regular;
        line-height: 2em;
        padding: 0.25em 0;

        @include desktop {
          font-size: $font-size--medium;
        }

        @include mobile {
          font-size: $font-size--small;
        }

        @include themed() {
          color: t($text);
        }
      }
    }

    p {
      font-family: $font-serif;
      font-weight: $font-weight--regular;
      line-height: 1.75em;
      padding: 0.5em 0;
      max-width: 50rem;
      margin: 0 auto;

      @include desktop {
        font-size: $font-size--medium;
      }

      @include mobile {
        font-size: $font-size--small;
      }

      @include themed() {
        color: t($text);
      }

      a {
        text-decoration: underline;
        @include themed() {
          color: t($link);
        }
        &:hover {
          @include themed() {
            color: t($hover);
          }
        }
      }
    }

    a {
      @include themed() {
        color: t($link);
      }
      transition: all 0.2s $easing-bezier-fast;

      &:hover {
        filter: brightness(150%);
      }
    }

    .previewAlertContainer {
      display: flex;
      justify-content: center;
    }

    .previewAlert {
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      border: 1px solid #eaeaea;
      width: 400px;
      padding: 16px;
      border-radius: 5px;
    }

    .caption {
      font-family: $font-sans;
      font-size: $font-size--smallest;
      font-weight: $font-weight--thin;

      &.inside-wrapper {
        position: absolute;
        bottom: -50px;
      }
    }

    .escapePreview {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: none;
      background-color: black;
      border: 1px solid black;
      color: white;
      padding: 10px;
      height: 24px;
      border-radius: 5px;
      transition: all 0.2s ease 0s;
    }
    .escapePreview:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
      cursor: pointer;
    }

    .draftBadge {
      border-radius: 16px;
      background-color: black;
      color: white;
      font-size: 14px;
      font-weight: 200;
      padding: 2px 7px;
      margin-right: 6px;
    }

    .noPosts {
      text-align: center;
    }

    .postPreview {
      max-width: 600px;
      margin: 10px auto;
      border-bottom: 1px solid $color-outline;
    }

    .postPreview:last-child {
      border-bottom: none;
    }

    video,
    img,
    .asset-wrapper {
      margin: 1rem auto;
      max-width: 100%;
      display: block;
    }

    .asset-wrapper {
      margin-bottom: 6rem;
    }

    .tweet {
      margin: 2rem auto;
      text-align: center;
    }

    .callout {
      margin: 2rem 0;
      padding: 16px 16px 16px 12px;
      display: flex;
      width: 100%;
      border-radius: 3px;
      border-width: 1px;
      border-style: solid;
      border-color: transparent;
      @include themed {
        background-color: t(sublte-bg);
      }
    }

    .callout .text {
      margin-left: 8px;

      a {
        text-decoration: underline;
      }
    }

    .underline {
      text-decoration: underline;
    }

    hr {
      margin-bottom: 4em;
    }

    .bookmark {
      width: 100%;
      max-width: 100%;
      margin-top: 8px;
      margin-bottom: 8px;
      @include themed() {
        background-color: t($bg);
      }
    }

    .bookmark img {
      box-shadow: none;
      margin: 0;
      padding: 0;
    }

    blockquote {
      display: block;
      margin: 2em 1em;
      font-family: $font-sans-condensed;
      font-style: italic;
      line-height: 1.5em;
      font-size: $font-size--medium;
    }

    .bookmarkContentsWrapper {
      display: block;
      color: inherit;
      text-decoration: none;
      flex-grow: 1;
      min-width: 0px;
    }

    .bookmarkContents {
      user-select: none;
      cursor: pointer;
      width: 100%;
      display: flex;
      flex-wrap: wrap-reverse;
      align-items: stretch;
      text-align: left;
      overflow: hidden;
      border: 1px solid #cacaca;
      border-radius: 3px;
      position: relative;
      color: inherit;
      fill: inherit;
    }

    .bookmarkInfo {
      flex: 4 1 180px;
      padding: 12px 14px 14px;
      overflow: hidden;
      text-align: left;
    }

    .bookmarkTitle {
      font-size: 14px;
      line-height: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      min-height: 24px;
      margin-bottom: 2px;
    }

    .bookmarkDescription {
      font-size: 12px;
      line-height: 16px;
      height: 32px;
      overflow: hidden;
    }

    .bookmarkLinkWrapper {
      display: flex;
      margin-top: 6px;
    }

    .bookmarkLinkIcon {
      width: 16px;
      height: 16px;
      min-width: 16px;
    }

    .bookmarkLink {
      font-size: 12px;
      line-height: 16px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 6px;
    }

    .bookmarkCoverWrapper1 {
      flex: 1 1 180px;
      display: block;
      position: relative;
    }

    .bookmarkCoverWrapper2 {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      padding: 0;
      background-color: #ff0000;
    }

    .bookmarkCoverWrapper3 {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }

    .bookmarkCover {
      display: block;
      object-fit: cover;
      border-radius: 1px;
      width: 100%;
      height: 100%;
    }
  }
}
