.cases {
  position: relative;

  .case-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;

    .content-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;

      max-width: 24rem;

      .postPreview {
        display: flex;
        justify-content: space-between;

        margin-top: 32px;

        &:first-child {
          margin-top: unset;
        }

        .content-container {
          h3 {
            display: inline-block;

            .titleContainer a {
              font-size: $font-size--medium;
              font-family: $font-serif;
              font-weight: $font-weight--bold;
              text-transform: lowercase;
              transition: all 0.2s $easing-bezier-fast;
              text-decoration: underline;

              &::after {
                content: ' ';
                display: none;
                height: 2px;
                width: 100%;
                margin-top: 2px;

                @include themed() {
                  background: t($text);
                }
              }

              svg {
                position: relative;
                width: auto;
                height: 14px;
                transition: all 0.2s $easing-bezier-fast;
              }

              &:hover {
                opacity: 0.5;
                svg {
                  transform: scale(1.5);
                }
                &::after {
                  opacity: 0.5;
                }
              }
            }
          }
          .tags {
            margin-top: 12px;

            a {
              font-family: $font-sans;
              font-size: $font-size--small;
              margin-right: 8px;
              @include themed() {
                color: t($text-secondary);
              }

              &:hover {
                opacity: 0.5;
              }
            }
          }

          .posted {
            font-family: $font-serif;
            text-transform: capitalize;
            font-size: $font-size--very-small;
            margin: 8px auto;
            @include themed() {
              color: t($text-secondary);
            }
          }
        }

        .cover-container {
          width: 24rem;
          height: 100%;

          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }

    .bg-container {
      width: 24rem;
      height: auto;
      padding-top: 56.25%;
      margin: 0;
    }

    &.mude-cases .bg-container {
      background-color: $color-project-mude;
    }
    &.futuur-cases .bg-container {
      background-color: $color-project-futuur;
    }
  }
}
