.cases {
  position: relative;

  .cases-wrapper {
    position: relative;

    .case-container {
      display: flex;
      margin: 0;

      @include desktop {
        justify-content: space-between;
        margin-bottom: 64px;
      }

      @include mobile {
        width: 100%;
        margin: 0 0 128px 0;
        padding: 0 32px;

        &:before {
          display: block;
          content: ' ';

          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 8px;
          height: 100%;
          margin: unset;
          padding-top: 48px;
        }

        &.mude-cases::before {
          background-color: $color-project-mude;
        }
        &.futuur-cases::before {
          background-color: $color-project-futuur;
        }
      }

      .content-list {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        @include mobile {
          position: relative;
          margin: auto;
          margin-top: 32px;
          flex-wrap: wrap;
          justify-content: flex-start;
        }

        .postPreview {
          display: flex;
          justify-content: space-between;

          @include desktop {
            margin-bottom: 32px;
            padding-right: 10%;
          }

          @include mobile {
            margin-top: 32px;
            width: unset;
          }

          &:first-child {
            margin-top: unset;
          }

          .content-container {
            h3 {
              display: inline-block;

              .titleContainer a {
                font-family: $font-serif;
                font-weight: $font-weight--bold;
                text-transform: capitalize;
                transition: all 0.2s $easing-bezier-fast;
                text-decoration: none;

                @include desktop {
                  font-size: $font-size--medium;
                  letter-spacing: 0.05em;
                }

                @include mobile {
                  font-size: $font-size--medium;
                  letter-spacing: 0.05em;
                }

                svg {
                  position: relative;
                  width: auto;
                  transition: all 0.2s $easing-bezier-fast;
                  height: 14px;
                }

                &:hover {
                  opacity: 0.5;
                  svg {
                    transform: scale(1.5);
                  }
                  &::after {
                    opacity: 0.5;
                  }
                }
              }
            }

            .posted {
              font-family: $font-serif;
              text-transform: capitalize;
              font-size: $font-size--very-small;
              margin: 8px auto;
              @include themed() {
                color: t($text-secondary);
              }
            }
          }
          .cover-container {
            background: transparent;
            width: 50%;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            overflow: hidden;

            img {
              width: 100%;
              height: auto;
              position: absolute;
              top: 32px;
            }

            @include mobile {
              display: none;
            }
          }
        }
      }
      .bg-container {
        @include desktop {
          width: 50%;
          height: auto;
          padding-top: 56.25%;
          margin: 0;
        }
      }

      &.mude-cases {
        .content-list {
          @include desktop {
            width: 50%;
          }
        }
        .bg-container {
          background-color: $color-project-mude;
        }
      }

      &.futuur-cases {
        .content-list {
          @include desktop {
            width: 50%;
          }
        }
        .bg-container {
          background-color: $color-project-futuur;
        }
      }

      &.otherWork-cases {
        flex-direction: column;
        padding-top: 64px;
        margin: unset;

        @include mobile {
          padding-top: 0;
        }

        .content-list {
          display: flex;
          flex-direction: row;
          max-width: unset;
          flex-wrap: wrap;
          @include desktop {
            justify-content: flex-start;
          }

          .postPreview {
            display: inline-block;
            @include desktop {
              width: 50%;
            }
          }
        }
      }
    }
  }
}
