.cases {
  position: relative;

  .cases-wrapper {
    position: relative;
  }

  .case-container {
    display: flex;
    margin: 0 16px;

    .content-list {
      display: flex;
      justify-content: center;
      align-items: flex-start;

      .postPreview {
        display: flex;
        justify-content: space-between;

        &:first-child {
          margin-top: unset;
        }

        .content-container {
          h3 {
            display: inline-block;

            .titleContainer a {
              font-family: $font-serif;
              font-weight: $font-weight--bold;
              text-transform: lowercase;
              transition: all 0.2s $easing-bezier-fast;
              text-decoration: underline;

              svg {
                position: relative;
                width: auto;
                transition: all 0.2s $easing-bezier-fast;
              }

              &:hover {
                opacity: 0.5;
                svg {
                  transform: scale(1.5);
                }
                &::after {
                  opacity: 0.5;
                }
              }
            }
          }
          .tags {
            a {
              font-family: $font-sans;

              @include themed() {
                color: t($text-secondary);
              }

              &:hover {
                opacity: 0.5;
              }
            }
          }

          .posted {
            font-family: $font-serif;
            text-transform: capitalize;

            @include themed() {
              color: t($text-secondary);
            }
          }
        }
        .cover-container {
          background: transparent;
        }
      }
    }

    &.mude-cases .bg-container {
      background-color: $color-project-mude;
    }
    &.futuur-cases .bg-container {
      background-color: $color-project-futuur;
    }
  }

  @include desktop {
    .case-container {
      justify-content: space-between;
      margin-bottom: 64px;

      .content-list {
        flex-direction: column;
        max-width: 24rem;

        .postPreview {
          margin-bottom: 32px;

          .content-container {
            h3 {
              .titleContainer a {
                font-size: $font-size--medium;
                letter-spacing: 0.05em;
                svg {
                  height: 14px;
                }
              }
            }
            .tags {
              margin-top: 12px;
              a {
                font-size: $font-size--small;
                margin-right: 8px;
              }
            }
            .posted {
              font-size: $font-size--very-small;
              margin: 8px auto;
            }
          }

          .cover-container {
            width: 24rem;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
          }
        }
      }

      .bg-container {
        width: 24rem;
        height: auto;
        padding-top: 56.25%;
        margin: 0;
      }

      &.otherWork-cases {
        flex-direction: column;
        padding-top: 64px;
        margin: 0 16px;

        .content-list {
          display: flex;
          flex-direction: row;
          max-width: unset;
          flex-wrap: wrap;

          .postPreview {
            display: inline-block;
            width: 24rem;

            .content-container h3 .titleContainer a {
              font-size: $font-size--small;
            }
          }
        }
      }
    }
  }

  @include mobile {
    .case-container {
      width: 100%;
      margin: 0 0 128px 0;
      padding: 0 32px;

      &:before {
        display: block;
        content: ' ';

        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 8px;
        height: 100%;
        margin: unset;
        padding-top: 48px;
      }

      &.mude-cases::before {
        background-color: $color-project-mude;
      }
      &.futuur-cases::before {
        background-color: $color-project-futuur;
      }

      .content-list {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: auto;
        margin-top: 32px;

        .postPreview {
          margin-top: 32px;

          &:first-child {
            margin-top: unset;
          }

          .content-container {
            h3 {
              .titleContainer a {
                font-size: $font-size--medium;
                letter-spacing: 0.05em;
                svg {
                  height: 14px;
                }
              }
            }
            .tags {
              margin-top: 12px;
              a {
                font-size: $font-size--small;
                margin-right: 8px;
              }
            }
            .posted {
              font-size: $font-size--very-small;
              margin: 8px auto;
            }
          }
          .cover-container {
            display: none;
          }
        }
      }
      &.otherWork-cases {
        flex-direction: column;
        padding-top: 64px;
        margin: 0 16px;

        .content-list {
          display: flex;
          flex-direction: row;
          max-width: unset;
          flex-wrap: wrap;

          .postPreview {
            display: inline-block;
            width: 24rem;

            .content-container h3 .titleContainer a {
              font-size: $font-size--small;
            }
          }
        }
      }
    }
  }
}
