.headline {
  .container {
    display: flex;
    align-items: center;
    position: relative;

    p {
      font-family: $font-serif;
      font-weight: $font-weight--regular;
      line-height: 1.25em;

      span {
        display: block;
        a {
          text-decoration: underline;
          &:hover {
            &.futuur-link {
              color: $color-project-futuur;
            }
            &.mude-link {
              color: $color-project-mude;
            }
          }
        }
      }
    }
  }

  @include desktop {
    .container {
      justify-content: space-between;
      margin: 128px 16px;

      p {
        font-size: $font-size--medium;
        line-height: 1.5em;
      }
    }
  }

  @include mobile {
    .container {
      justify-content: space-between;
      flex-direction: column-reverse;

      margin: 0 32px 64px 32px;
      p {
        font-size: $font-size--small;
        text-align: center;
        line-height: 1.5em;

        span a {
          &.futuur-link {
            text-decoration-color: $color-project-futuur;
          }
          &.mude-link {
            text-decoration-color: $color-project-mude;
          }
        }
      }
    }
  }
}
