.headline {
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    flex-direction: column;

    @include desktop {
      justify-content: space-between;
      margin: 15vh 0;
    }

    @include mobile {
      justify-content: space-between;
      margin: 64px 16px;
    }

    p {
      font-family: $font-serif;
      font-weight: $font-weight--regular;
      text-align: left;
      font-size: $font-size--very-small;
      line-height: 200%;

      @include mobile {
        span {
          display: inline;
        }
      }
    }
  }
}
