.header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  flex-direction: column;

  h1 {
    a {
      font-family: $font-headline;
      font-weight: $font-weight--bold;
      display: block;
      text-align: center;
      transition: all 0.1s $easing-bezier-fast;
    }
  }

  &.is-sticky {
    backdrop-filter: blur(3px);
  }

  @include desktop {
    padding: 16px 0 16px 0;
    margin: 16px auto;

    h1 a {
      font-size: $font-size--large;
      letter-spacing: 0.1em;
    }
    ul {
      margin-top: 18px;

      li {
        margin-left: 16px;

        button svg,
        a svg {
          height: 24px;
        }
      }
    }

    &.is-sticky {
      h1 a {
        transform: scale(0.7);
      }
      ul {
        top: -12px;
        li a svg,
        li button svg {
          transform: scale(0.9);
        }
      }
    }
  }

  @include mobile {
    padding: 32px 0 32px 0;
    margin: 32px 0 0 0;

    h1 a {
      font-size: $font-size--large;
      letter-spacing: 0.1em;
    }

    ul {
      margin-top: 32px;
      li {
        margin-left: 16px;
        button svg,
        a svg {
          height: 32px;
        }
      }
    }

    &.is-sticky {
      h1 a {
        transform: scale(0.7);
      }
      ul {
        top: -12px;
        li a svg,
        li button svg {
          transform: scale(0.9);
        }
      }
    }
  }
}
