.nav {
  ul {
    text-align: center;
    position: relative;

    @include desktop {
      margin-top: 18px;
    }
    @include mobile {
      margin-bottom: 32px;
    }

    li {
      display: inline-block;
      margin-left: 16px;
      transition: all 0.2s $easing-bezier-fast;

      &:first-child {
        margin-left: unset;
      }
      &:hover {
        opacity: 0.5;
      }
      button svg,
      a svg {
        width: auto;
        transition: all 0.1s $easing-bezier-fast;

        @include desktop {
          height: 24px;
        }
        @include mobile {
          height: 28px;
        }
      }
    }
  }
}
