@keyframes fluctuate {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(0, -32px);
  }
  100% {
    transform: translate(0);
  }
}

.cases {
  .content-list {
    &:hover .postPreview:hover ~ .postPreview:last-child .cover-container img {
      opacity: 0;
    }

    .postPreview {
      .cover-container img {
        transition: opacity 0.2s $easing-bezier-fast,
          transform 10s $easing-bezier-slow;
        opacity: 0;
      }

      .content-container:hover ~ .cover-container img {
        opacity: 1 !important;
        z-index: 100;
        animation-name: fluctuate;
        animation-duration: 5s;
        animation-iteration-count: infinite;
      }

      &:last-child .cover-container img {
        opacity: 1;
      }
    }
  }
}
