.related-posts {
  padding: 16px 0;

  h3 {
    font-family: $font-sans;
    font-weight: $font-weight--medium;
    font-size: $font-size--small;
    padding: 16px 0;
    text-align: left;
    @include themed {
      color: t($text-secondary);
    }

    border-bottom: 1px solid $color-outline;
  }

  .related-posts-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 32px;
    align-items: flex-start;

    .related-item {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 32px;

      .titleContainer a {
        display: block;
        font-family: $font-serif;
        font-weight: $font-weight--medium;
        text-transform: lowercase;
        transition: all 0.2s $easing-bezier-fast;
        text-decoration: none;
        text-transform: capitalize;

        @include desktop {
          font-size: $font-size--small;
          letter-spacing: 0.05em;
        }

        @include mobile {
          font-size: $font-size--small;
          letter-spacing: 0.05em;
        }

        svg {
          position: relative;
          width: auto;
          transition: all 0.2s $easing-bezier-fast;
          height: 24px;
        }

        &:hover {
          opacity: 0.5;
          svg {
            transform: scale(1.5);
          }
          &::after {
            opacity: 0.5;
          }
        }
      }
    }
  }
}
