body {
  min-height: 100vh;
  font-family: $font-sans;

  @include themed() {
    color: t($text);
    background: t($bg);
  }

  transition: all 1s ease;

  /* Hack */
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
