body {
  min-height: 100vh;
  font-family: $font-sans;

  @include themed() {
    color: t($text);
    background: t($bg);
  }

  transition: all 1s ease;

  /* Hack */
  overflow-x: hidden;
}

.main-container {
  max-width: 50rem;
  margin: 0 auto;
}

a {
  transition: color 0.1s $easing-bezier-fast;
}
