//fonts imports

//importing from adobe typekit
@import url('https://use.typekit.net/gxg8pgx.css');

$font-neuzeit: neuzeit-grotesk, sans-serif;
$font-neuzeit-condensed: neuzeit-grotesk-condensed, sans-serif;

$font-utopia: utopia-std, serif;
$font-utopia-headline: utopia-std-headline, serif;

$font-ivyjournal: ivyjournal, sans-serif;

//define variables in variables.scss and use them in the project. Don't use the variables defined here as font-family
